/* @import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase
}

.navbar .nav {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem
}

.navbar-inverse {
  background-color: #000000
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #002200
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #003300
}

.dropdown-menu {
  background-color: #006B00
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-color: #002200
}

.navbar-inverse {
  background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-image: none;
}

.navbar-inverse {
  border-color: #003300
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  color: #FFCC00
}

.dropdown-menu>li>a {
  color: #FFFFFF
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-bottom-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-bottom-color: #FFFFFF
} */
.navbar-default {
    background-color: #fff;
    
}
.navbar {
    position: fixed;
    min-height: 72px;
    margin-bottom: 0px !important ;
    border: 1px solid transparent;
}
.logo{
    margin-top: -14px;
    width: 107px;
}
.navbar-right{
    margin-right: 94px;
    margin-top: 18px;
}
.navbar-default .navbar-nav>li>a {
  color: #000;
  text-transform: uppercase;
  font-size: 17px;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#0174c5;
}
.navbar-brand {
    float: left;
    height: 87px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 38px;
    /* margin-left: 11px; */
    margin-right: 27px;
    margin-bottom: 8px;
    background-color: #0174c5 !important;
    color: #0174c5;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #eee;
}
.dropdown-menu:li {
    text-align: left;
}

.dropdown:hover  {
    display: block ;
    margin-top: 0; 
 }
 
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #fff !important;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0px;
                                                                                                                      
    margin-right: -22px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
} 
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #444;
}
ul.dropdown-menu {
  text-transform: uppercase;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .container-fluid {
  
    padding-left: 10px !important;
   
}
.navbar-right {
  
  margin-top: 0px;
}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .navbar-right{
    margin-right: 0px;
 
}
}