<!-- <footer>
 
  <div class="container footer_top" id="contact">
    <div class="row">
      <div class="col-lg-3 col-sm-7">
        <div class="footer_item">
          <h4>Bangalore </h4>
          <ul class="list-unstyled footer_contact">
            <li>
              <a href="" style="color:#222" >
                <i class="fas fa-map-marker-alt"></i>

                First Floor,Park Landing,
                
                2nd Block,HRBR Extension,Banglore.
                
              </a>
            </li>
            <li>
              <a href=""style="color:#222" 
                ><i class="fas fa-mobile-alt"></i> +91 9440512838</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-7">
        <div class="footer_item">
          <h4>Cochin </h4>
          <ul class="list-unstyled footer_contact">
            <li>
              <a style="color:#222" href="">
                <i class="fas fa-map-marker-alt"></i> Cochin 
              </a>
            </li>
            <li>
              <a style="color:#222" href=""
                ><i class="fas fa-mobile-alt"></i> +91 9440512838
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-5">
        <div class="footer_item">
          <h4>Mail Us</h4>
          <ul class="list-unstyled footer_contact">
            <li>
              <a  href="" style="color:#222" 
                ><span class="fa fa-envelope fas"></span>
            info@prayanlearning.in</a
              >
            </li>
            
              <li><a href=""><span class="fa fa-mobile"></span><p>+91 9606555100</p></a></li>
           
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-7">
        <div class="footer_item">
          <h4>Social</h4>
         

          <ul class="list-inline footer_social_icon">
            <li>
              <a href="#"
                ><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"
                ><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"
                ><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"
                ><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  

  
  <div class="footer_bottom text-center">
    <p class="wow fadeInRight">
      Copyright © 2019 Designer by

      <a style="color: #1e4e9b;">Livewire Technologies</a>
      All Rights Reserved
    </p>
  </div>
  
</footer> -->
 <!-- footer start -->
 <footer id="myFooter">
  <div class="container">
      <div class="row prayan-footer">
          <div class="col-md-5 col-12 contact-info">
              <!-- <h5>Where we are</h5> -->
              <ul>
                  <li><i class="fas fa-map-marker-alt"></i>Prayan Learning Private Limited</li>
                  <li> first floor, maria plaza </li>
                  <li>Kalamassery, Ernakulam </li>
                 
                  <li> Kerala 683104</li>

              </ul>
              <ul >
                  <li>
                   <i class="fas fa-envelope"></i>info@prayanlearning.in
                  </li>
                  </ul>
                  <ul >
                      <li>
                       <i class="fas fa-phone"></i>094463 32410
                      </li>
                      </ul>
          </div>
          <div class="col-md-2 contact-links">
              <!-- <h5>About us</h5> -->
              <ul>
                  <li class="footer-service"><a routerLink="/home">Home</a></li>
                  <li class="footer-service"><a routerLink="/why-prayan">About us</a></li>
                  <li class="footer-service"><a href="">Our Team</a></li>
                  <li class="footer-service"><a routerLink="/web-Development">Services</a></li>
                  <li class="footer-service"><a href="">Blog</a></li>
                  <li class="footer-service"><a href="">Legal</a></li>

              </ul>
          </div>
          <div class="col-md-5 prayn-map ">
              <iframe id="map-container" frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15714.025106307314!2d76.3213504!3d10.0575383!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbd41e3f33afba450!2sPrayan+Learning+Private+Limited!5e0!3m2!1sen!2sin!4v1548219076747" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <!-- <div class="col-sm-3">
              <h5>Legal</h5>
              <ul>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Privacy Policy</a></li>
              </ul>
          </div> -->
      </div>
      <!-- Here we use the Google Embed API to show Google Maps. -->
      <!-- In order for this to work in your project you will need to generate a unique API key.  -->
      <!-- <iframe id="map-container" frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJOwg_06VPwokRYv534QaPC8g&key=AIzaSyBdJm9Amm4KALkKlZObWn40dcpRyH119zg" >
      </iframe> -->
     
  </div>
  <div class="social-networks">
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
    <a href="#" class="linkedIn"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>© 2019 Copyright  </p>
  </div>
</footer>

<!-- footer end -->
