<div class="container-fluid">
  <div class="row testinominals" >
    <div class="col-md-12 col-center m-auto">
      <h2 class="test-heading">Testimonials</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="item carousel-item active">
            <div class="img-box"><img src="assets/images/vishnuprasad.jpg" alt=""></div>
            <p class="testimonial">Prayan Learning gave me a great solution for an interactive website and 
              backed it up with timely support and cost effective enhancements.
                I think it is one of the best web designing company cochin, They went
                 above and beyond in delivering on their commitments.  
                </p>
            <p class="overview"><b>Vishnu Prasad</b></p>
          </div>
          <div class="item carousel-item">
            <div class="img-box"><img src="assets/images/sunil.jpg" alt=""></div>
            <p class="testimonial">They have done a fabulous job in building our website
                and also developed Mobile App for us in
                minimal cost with good quality
                
                </p>
            <p class="overview"><b>SUNIL PILLAI</b></p>
          </div>
          <div class="item carousel-item">
            <div class="img-box"><img src="assets/images/ranjith.jpg" alt=""></div>
            <p class="testimonial">They developed websites and mobile apps for us which is adaptive
                and innovative.Iroid Digital marketing is also handling our
                SEO and SMO works efficiently. </p>
            <p class="overview"><b>RENJITH NAIR</b></p>
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>

