<div class="web-heading">Web Development</div>
<!-- web page start-->
<section class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="design">
      <div class="web-image"><img class="web-img " src="assets/images/laptop.png"></div> 
      <div class="centered">
        <h3 class="web-title">Design</h3>
      <p class="web-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries. </p>
        </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="design">
      <div class="web-image"><img class="web-img " src="assets/images/laptop-1.png"></div> 
      <div class="centered">
        <h3 class="web-title">Development</h3>
      <p class="web-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries. </p>
        </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="design">
      <div class="web-image"><img class="web-img " src="assets/images/laptop-2.png"></div> 
      <div class="centered">
        <h3 class="web-title">E Commerce</h3>
      <p class="web-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries. </p>
        </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="design">
      <div class="web-image"><img class="web-img " src="assets/images/laptop-3.png"></div> 
      <div class="centered">
        <h3 class="web-title">SEO</h3>
      <p class="web-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries. </p>
        </div>
      </div>
  </div>
</div>


</section>

<section class="tech-used">
  <div class="container">
    <div class="row tech-used-firstrow">
      <div class="col-md-2 col-sm-6">
        <img src="assets/images/android.png">
      </div>
      <div class="col-md-2 col-sm-6">
          <img src="assets/images/angularjs.png">
      </div>
      <div class="col-md-2 col-sm-6">
            <img src="assets/images/appleswift.png">
      </div>
      <div class="col-md-2 col-sm-6">
          <img src="assets/images/firebase.png">
        </div>
        <div class="col-md-2 col-sm-6">
            <img src="assets/images/html5.png">
          </div>
          
    </div>

    <div class="row tech-used-secondrow">
        <div class="col-md-1 col-sm-4">
            <img src="assets/images/magento.png">
          </div>
          <div class="col-md-1 col-sm-4">
              <img src="assets/images/mysql.png">
          </div>
          <div class="col-md-1 col-sm-4">
                <img src="assets/images/net.png">
          </div>
          <div class="col-md-1 col-sm-4">
              <img src="assets/images/nodejs.png">
          </div>
          <div class="col-md-1 col-sm-4" >
                <img src="assets/images/photoshop.png">
          </div>
          <div class="col-md-1 col-sm-4">
            <img src="assets/images/php.png">
          </div>
          <div class="col-md-1 col-sm-4">
             <img src="assets/images/react.png">
          </div>
          <div class="col-md-1 col-sm-4">
             <img src="assets/images/wordpress.png">
          </div>
          <div class="col-md-1 col-sm-4">
              <img src="assets/images/bootstrap.png">
            </div>
    </div>
  </div>
</section>