<section class="mobile-sec container">
    <div class="container">
        <div class="row">
          <h1 class="mob-title">Mobile Application Development</h1>
         <div class="  col-md-6 col-xs-12  ">
                  <div class="mobile-single">
                    
                    <div class="mobile-main">
                      <div class="mobile-img"><img class="mobile-large" src="assets/images/iphone.png" alt="Loading"></div>
                     
                      <div class="mobile-content">
                        <h1 class="title">IOS</h1>
                        <p class="description">is simply dummy text of the printing and 
                          typesetting industry. Lorem Ipsum has been the industry's 
                          standard dummy text ever since the 1500s, when an unknown printer took a 
                          galley of type and scrambled it to make a type specimen book. It has survived
                           not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the 
                            
                           </p>
                           <div class="mobile-icon">
                             <img  src="assets/images/iphone-icon.png" alt="Loading">
                           </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="  col-md-6 col-xs-12  "></div>
         </div>
         <div class="row">
           
       
               
               
                <div class="col-md-6 col-xs-12  ">
                    <div class="mobile-single1">
                      
                      <div class="mobile-main">
                        <div class="mobile-img"><img class="mobile-large" src="assets/images/iphone-1.png" alt="Loading"></div>
                       
                        <div class="mobile-content">
                          <h1 class="title">Hybrid</h1>
                          <p class="description">is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's 
                            standard dummy text ever since the 1500s, when an unknown printer took a 
                            galley of type and scrambled it to make a type specimen book. It has survived
                             not only five centuries, but also the leap into electronic typesetting,
                              remaining essentially unchanged. It was popularised in the 1960s with the 
                              
                             </p>
                             <div class="mobile-icon">
                               <img  src="assets/images/hybrid-icon.jpg" alt="Loading">
                             </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="  col-md-6 col-xs-12  ">
                      <div class="mobile-single2">
                        
                        <div class="mobile-main">
                          <div class="mobile-img"><img class="mobile-large" src="assets/images/iphone-2.png" alt="Loading"></div>
                         
                          <div class="mobile-content1">
                            <h1 class="title">Android</h1>
                            <p class="description">is simply dummy text of the printing and 
                              typesetting industry. Lorem Ipsum has been the industry's 
                              standard dummy text ever since the 1500s, when an unknown printer took a 
                              galley of type and scrambled it to make a type specimen book. It has survived
                               not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the 
                                
                               </p>
                               <div class="mobile-icon">
                                 <img  src="assets/images/android-icon.png" alt="Loading">
                               </div>
                          </div>
                        </div>
                      </div>
                    </div>
                 
           
           </div>
      </div>
    </section>


    <div class="for-mobile">
        <div class="container-fluid">
   <div class="row">
      <h3 class="for-mob-title">Mobile Application Development</h3>
<div class="col-sm-12 xs-col-12">
  <div class="for-mob-main1">
      <div class="for-mobile-img"><img class="for-mobile-large" src="assets/images/iphone.png" alt="Loading"></div>
                       
      <div class="for-mobile-content">
        <h1 class="for-title">IOS</h1>
        <p class="for-description">is simply dummy text of the printing and 
          typesetting industry. Lorem Ipsum has been the industry's 
          standard dummy text ever since the 
            
           </p>
           <div class="for-mobilee">
             <img class="for-mobile-icon" src="assets/images/iphone-icon.png" alt="Loading">
           </div>
      </div>
  </div>
</div>
    </div>
    <div class="row">
    
  <div class="col-sm-12 xs-col-12">
    <div class="for-mob-main1">
        <div class="for-mobile-img"><img class="for-mobile-large" src="assets/images/iphone.png" alt="Loading"></div>
                         
        <div class="for-mobile-content">
          <h1 class="for-title">Android</h1>
          <p class="for-description">is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the 
              
             </p>
             <div class="for-mobilee">
               <img class="for-mobile-icon" src="assets/images/android-icon.png" alt="Loading">
             </div>
        </div>
    </div>
  </div>
      </div>
      <div class="row">
    <div class="col-sm-12 xs-col-12">
      <div class="for-mob-main1">
          <div class="for-mobile-img"><img class="for-mobile-large" src="assets/images/iphone.png" alt="Loading"></div>
                           
          <div class="for-mobile-content">
            <h1 class="for-title">Hybrid</h1>
            <p class="for-description">is simply dummy text of the printing and 
              typesetting industry. Lorem Ipsum has been the industry's 
              standard dummy text ever since the 
                
               </p>
               <div class="for-mobilee">
                 <img class="for-mobile-icon" src="assets/images/hybrid-icon.jpg" alt="Loading">
               </div>
          </div>
      </div>
    </div>
        </div>
          </div>
    </div>


    <!-- <app-infinity></app-infinity> -->
<div class="mob-infinity container-fluid">
  <div class="row">
   
    <div id="infinity"></div>
    <div class="hr-contact-left1"><hr></div>
    <div class="hr-contact-left2"><hr></div>
    <div class="hr-contact-left3"><hr></div>
    <div class="hr-contact-right1"><hr></div>
    <div class="hr-contact-right2"><hr></div>
    <div class="hr-contact-right3"><hr></div>
    <div class="infinity-left-text1"> <h4>Plan</h4> </div>
    <div class="infinity-left-text2"><h4>Build</h4></div>
    <div class="infinity-left-text3"><h4>continuous feedback</h4></div>
    <div class="infinity-left-text4"><h4>continuous </h4></div>
    <div class="infinity-left-text5"><h4>integration </h4></div>
    <div class="infinity-left-text6"><h4>deploy </h4></div>
    <div class="infinity-left-text7"><h4>operate </h4></div>
 
  </div>


</div>

<div class="infinity-mobile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="infinity-conact-img">
          <img class="infinity-img" src="assets/images/infinity-mobile.png" alt="loading">
        </div>
      </div>
    </div>
  </div>
</div>
   
   
