<section class="mobile-sec container">
    <div class="container">
        <div class="row">
          <h1 class="mob-title">Mobile Application Development</h1>
         <div class="  col-md-6 col-xs-12  ">
                  <div class="mobile-single">
                    
                    <div class="mobile-main">
                      <div class="mobile-img"><img class="mobile-large" src="assets/images/iphone.png" alt="Loading"></div>
                     
                      <div class="mobile-content">
                        <h1 class="title">IOS</h1>
                        <p class="description">We are consisting of top iOS mobile application professionals and experts to 
                          create a solution to meet beyond your expectation. We make sure the developed app passes through
                           all specifications of our clients at every stage and only when it is approved we move on to the
                            next pace. Our team of iOS Mobile Application developers will dedicatedly work on your app and
                             make sure that project is accomplished within the stipulated time.


                            
                           </p>
                           <div class="mobile-icon">
                             <img  src="assets/images/iphone-icon.png" alt="Loading">
                           </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="  col-md-6 col-xs-12  "></div>
         </div>
         <div class="row">
           
       
               
               
                <div class="col-md-6 col-xs-12  ">
                    <div class="mobile-single1">
                      
                      <div class="mobile-main">
                        <div class="mobile-img"><img class="mobile-large" src="assets/images/iphone-1.png" alt="Loading"></div>
                       
                        <div class="mobile-content">
                          <h1 class="title">Hybrid</h1>
                          <p class="description">With time, more and more number of user avail the mobile app instead of the conventional websites.
                             There are many of mobile devices which run on varied operating systems. IOS and Android are the popular ones
                              which are followed by Blackberry and Windows. With all the versions that are available for these systems, 
                              developing an app for all them is obviously and issue. Like the name suggest, a hybrid app is the blend of native
                               and web app. 

                              
                             </p>
                             <div class="mobile-icon">
                               <img  src="assets/images/hybrid-icon.jpg" alt="Loading">
                             </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="  col-md-6 col-xs-12  ">
                      <div class="mobile-single2">
                        
                        <div class="mobile-main">
                          <div class="mobile-img"><img class="mobile-large" src="assets/images/iphone-2.png" alt="Loading"></div>
                         
                          <div class="mobile-content1">
                            <h1 class="title">Android</h1>
                            <p class="description">Our Android Application Development experts have successfully developed
                               several high-performance Android app to various types of industries such as health care,
                                education and more.Our Enthusiastic and skilled experts design and develop android mobile
                                 application from conceptualization to the end point delivery of the product.

                                
                               </p>
                               <div class="mobile-icon">
                                 <img  src="assets/images/android-icon.png" alt="Loading">
                               </div>
                          </div>
                        </div>
                      </div>
                    </div>
                 
           
           </div>
      </div>
    </section>


    <div class="for-mobile">
        <div class="container-fluid">
   <div class="row">
      <h3 class="for-mob-title">Mobile Application Development</h3>
<div class="col-sm-12 xs-col-12">
  <div class="for-mob-main1">
      <div class="for-mobile-img"><img class="for-mobile-large" src="assets/images/iphone.png" alt="Loading"></div>
                       
      <div class="for-mobile-content">
        <h1 class="for-title">IOS</h1>
        <p class="for-description">We are consisting of top iOS mobile application professionals and experts to
           create a solution to meet beyond your expectation. 
            
           </p>
           <div class="for-mobilee">
             <img class="for-mobile-icon" src="assets/images/iphone-icon.png" alt="Loading">
           </div>
      </div>
  </div>
</div>
    </div>
    <div class="row">
    
  <div class="col-sm-12 xs-col-12">
    <div class="for-mob-main1">
        <div class="for-mobile-img"><img class="for-mobile-large" src="assets/images/iphone.png" alt="Loading"></div>
                         
        <div class="for-mobile-content">
          <h1 class="for-title">Android</h1>
          <p class="for-description">Our Android Application Development experts have successfully developed 
            several high-performance Android app to various types of industries.
              
             </p>
             <div class="for-mobilee">
               <img class="for-mobile-icon" src="assets/images/android-icon.png" alt="Loading">
             </div>
        </div>
    </div>
  </div>
      </div>
      <div class="row">
    <div class="col-sm-12 xs-col-12">
      <div class="for-mob-main1">
          <div class="for-mobile-img"><img class="for-mobile-large" src="assets/images/iphone.png" alt="Loading"></div>
                           
          <div class="for-mobile-content">
            <h1 class="for-title">Hybrid</h1>
            <p class="for-description">With time, more and more number of user avail the mobile app instead of the 
              conventional websites. There are many of mobile devices which run on varied operating systems.  
                
               </p>
               <div class="for-mobilee">
                 <img class="for-mobile-icon" src="assets/images/hybrid-icon.jpg" alt="Loading">
               </div>
          </div>
      </div>
    </div>
        </div>
          </div>
    </div>


<div class="mob-infinity container-fluid">
  <div class="row">
   <div class="col-md-12">
    <div id="infinity"></div>
    <div class="hr-contact-left1"><hr></div>
    <div class="hr-contact-left2"><hr></div>
    <div class="hr-contact-left3"><hr></div>
    <div class="hr-contact-right1"><hr></div>
    <div class="hr-contact-right2"><hr></div>
    <div class="hr-contact-right3"><hr></div>
    <div class="infinity-left-text1"> <h4>Plan</h4> </div>
    <div class="infinity-left-text2"><h4>Build</h4></div>
    <div class="infinity-left-text3"><h4>continuous feedback</h4></div>
    <div class="infinity-left-text4"><h4>continuous </h4></div>
    <div class="infinity-left-text5"><h4>integration </h4></div>
    <div class="infinity-left-text6"><h4>deploy </h4></div>
    <div class="infinity-left-text7"><h4>operate </h4></div>
 
  </div>
</div>

</div>

<div class="infinity-mobile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="infinity-conact-img">
          <img class="infinity-img" src="assets/images/infinity-mobile.png" alt="loading">
        </div>
      </div>
    </div>
  </div>
</div>
   
   
