/* .mobile-main{
    background-image: url(../../assets/images/phone.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  
} */
.mobile-sec {
    margin-top: 107px;
}

.mob-title {
    color: #0174c5;
    font-weight: bold;
    text-align: center;
}
.mobile-large {
    width: 636px;
}
.mobile-content {
    position: absolute;
    top: 48px;
    text-align: center;
    padding: 26px 119px 13px 222px;
    color: white;
}
.mobile-content1 {
    position: absolute;
    top: 48px;
    text-align: center;
    padding: 26px 206px 13px 222px;
    color: white;
}
.mobile-icon {
    padding-top: 10px;
}

.mobile-main {
    position: relative;
}
.mobile-single {
    
    right: 37px;
    padding-top: 30px;
}

.mobile-single1 {
   
    margin-top: 254px;
}
.big-hr2{
    /* border-top: 5px solid #8c8b8b; */
    /* border-bottom: transparent;  */
    margin-top: 572px !important;
}
.big-hr22{
    height: 4.5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8a8a8a;
    
    border: 0 none;
    margin-top: 100px;
    margin-bottom: 100px;
}
.mobile-single2 {
  
    top: -172px;
    position: absolute;
   
}
.for-mobile{
    display: none;
    visibility: hidden;
}
.mob-infinity{
    display: block;
    visibility: visible;
}
.infinity-mobile
{
    display: none;
    visibility: hidden;
}





/* ============================ */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   .mobile-sec{
       display: none;
       visibility: hidden;
      
   }
   /* =========== */
   .for-mobile{
    visibility: visible;
    display: block;
    margin-top: 68px;
    text-align: center;
   }
   img.for-mobile-large {
    width: 100%;
    height: auto;
}
.for-mobile-content {
    position: absolute;
    top: 30px;
    padding: 0px 108px;
    color: white;
    font-size: 12px;
}
/* .for-description {
    padding: 0px 107px;
   
    color: white;
    font-size: 14px;
} */
.for-mobile-icon{
    width: 29px;
} 
.for-title {
   
    font-weight: bold;
    font-size: 28px;
}
.for-mob-title {
    color: #0174c5;
    font-weight: bold;
}
.mob-infinity{
    display: none !important;
    visibility: hidden;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .for-mobile-content {
        position: absolute;
        top: 30px;
        padding: 0px 114px;
        color: white;
        font-size: 12px;
    }
  
}



/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .for-mobile-content{
      
        padding: 0px 128px;
        font-size: 14px;
    }

}

/* ==========================
infinity mobile
 */
 img.infinity-img {
    width: 100%;
}

.infinity-mobile
{
    display: block;
    visibility: visible;
}


}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
   
    .mobile-single1 {
        margin-top: 705px;
    }
    .mobile-single2 {
        top: -1307px;
    }
    .mobile-content {
      
        padding: 26px 289px 10px 228px;
       
    }
    .mob-infinity{
        display: none !important;
        visibility: hidden;
    }
    
    
    
    /* ==========================
    infinity mobile
     */
     img.infinity-img {
        width: 100%;
    }
    
    .infinity-mobile
    {
        display: block;
        visibility: visible;
    }
    
}





/* ======= */

#infinity {
    position: relative;
    width: 733px;
    height: 273px;
    margin-top: 51px;
    margin-left: 50px;
}

#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 347px;
    height: 347px;
    border: 79px solid #0174c5;
    
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-border-radius: 208px 229px 0 231px;
    border-radius: 208px 229px 0 231px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius:  187px 169px 192px 0;
   
    border-radius: 187px 169px 192px 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

   
.mob-infinity {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    position: relative;
}


.hr-contact-left1 hr{ 
    border-left: 1.5px solid #fff;
    height: 80px;
    left: 272px;
    top: 57px;
    width: 0px;
    position: absolute;
    margin-top: 0px;
   
    transform: rotate(23deg);   
}
.hr-contact-left2 hr{ 
    border-left: 1.5px solid #fff;
    height: 87px;
    left: 101px;
    top: 190px;
    width: 0px;
    position: absolute;
    margin-top: 0px;
    
    transform: rotate(103deg);
}
.hr-contact-left3 hr{ 
    border-left: 1.5px solid #fff;
    height: 80px;
    left: 253px;
    top: 314px;
    width: 0px;
    position: absolute;
    margin-top: 0px;
    
    transform: rotate(-193deg);
}

.hr-contact-right1 hr{ 
    border-left: 1.5px solid #fff;
    height: 81px;
    right: 242px;
    top: 64px;
    width: 0px;
    position: absolute;
    margin-top: 0px;
    
    transform: rotate(-193deg);
}
.hr-contact-right2 hr{ 
    border-left: 1.5px solid #fff;
    height: 87px;
    right: 51px;
    top: 197px;
    width: 0px;
    position: absolute;
    margin-top: 0px;
  
    transform: rotate(-104deg);
}
.hr-contact-right3 hr{ 
    border-left: 1.5px solid #fff;
    height: 94px;
    right: 206px;
    top: 301px;
    width: 0px;
    position: absolute;
    margin-top: 0px;
   
    transform: rotate(-192deg);
}

.infinity-left-text1 h4 {
    position: absolute;
    color: #fff;
    left: 138px;
    top: 110px;
    
    transform: rotate(-41deg);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.infinity-left-text2 h4 {
    position: absolute;
    color: #fff;
    left: 125px;
    top: 303px;
   
    transform: rotate(45deg);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.infinity-left-text3 h4 {
    position: absolute;
    color: #fff;
    left: 319px;
    top: 199px;
    
    transform: rotate(45deg);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.infinity-left-text4 h4 {
    position: absolute;
    color: #fff;
    left: 304px;
    top: 274px;
   
    transform: rotate(-42deg);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.infinity-left-text5 h4 {
    position: absolute;
    color: #fff;
    right: 250px;
    top: 136px;
    
    transform: rotate(-44deg);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.infinity-left-text6 h4 {
    position: absolute;
    color: #fff;
    right: 80px;
    top: 105px;
    
    transform: rotate(35deg);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.infinity-left-text7 h4 {
    position: absolute;
    color: #fff;
    right: 82px;
    top: 313px;
   
    transform: rotate(-34deg);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
