

/* ==================================== */
.who-we-are {
    margin-top: 72px;
}
.who-we-are-title{
    text-align: center;
    padding: 40px;
    color: #0174c5;
    font-weight: bold;
    text-transform: uppercase;
}
.who-we-are-text-content {
   
    padding-bottom: 33px;
    padding-top: 85px;
    text-align: justify;
}


.what-we-do-right {
    display: flex;
    padding: 10px 0px 10px 0px;
}
.what-we-do-left {
    display: flex;
    padding: 10px 0px 10px 0px;
}
.service-img1 {
    width: 98px;
    padding: 40px 20px 20px 23px;
}
.what-we-do-sub-title {
    color: #0174c5;
    font-weight: bold;
}
.what-we-do-sub-title-right{
    color: #0174c5;
    font-weight: bold;
    text-align: right;
}
.what-we-do-content {
    text-align: justify;
}




/* =================== */
.why-choose-us{
    margin-top: 140px;
    margin-bottom: 50px;
    }
    
    .why-choose-us-title{
         text-align: center;
         color: #0174c5;
         font-weight: bold;
         margin-bottom: 30px;
    }
    
    .why-choose-us-subtitle{
         width: 123px;
         font-size: 21px;
         margin-left: 503px;
         height: 42px;
         margin-bottom: 20px;
         background: #43bde4;
         border-radius: 8px;
         text-align: center;
         padding: 5px;
         font-weight: bold;
         color: white;
    }
    
    
    
       .text {
        border: solid 2px #43bde4;
     
        color: #01bde4;
        border-radius: 15px;
        text-align: center;
        padding: 15px 15px 15px 15px;
    }
    
    .boxes {
         padding: 0px 110px 0px 114px;
    }
    .boxes2 {
        padding: 29px 110px 0px 114px;
   }
    
    h4.why-choose-subtitle {
        text-align: center;
        /* width: 100px; */
        background: #43bde4;
        margin: 27px 537px;
        /* padding: 10px; */
        color: white;
        padding: 10px;
        border-radius: 10px;
    }

.for-mobile{
    display: none;
    visibility:hidden;
}
















/* //////media quries/// */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .why-choose-us {
        margin-top: 40px;
        margin-bottom: 50px;
    }
    
h4.why-choose-subtitle{
  
    margin: 0px 5px;
   
}
.service-image{
    width:100%
}
.for-mobile{
    display: block;
    visibility:visible;
}
.for-desktop{
    display: none;
    visibility: hidden;
}
.boxes {
    
    padding: 10px 0px 0px 0px;
}
.boxes2 {
    padding:0px;
}
.text{
    margin: 10px;
}
    
}


/* iphone 6,7,8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

.text{
    margin: 0px;
}
    .box {
        margin: 14px;
    }
    }
/* iphone 6,7,8 plus */
    @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .box {
        margin: 23px;
    }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .for-mobile{
        display: block;
        visibility:visible;
    }
    .for-desktop{
        display: none;
        visibility: hidden;
    }

    .why-choose-us {
        margin-top: 0px;
        margin-bottom: 50px;
    }

    h4.why-choose-subtitle[_ngcontent-c3] {
       
        margin: 0px;
       
    }
    .boxes{
        padding: 10px 110px 0px 114px;
    
    }
    .boxes2 {
        padding: 2px 110px 0px 114px;
    }

    .text{
        margin: 51px;
    }
/* Styles */
}