<section class="why-choose">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title title-3">
          why choose us
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="why-choose__inner p-r-15">
          <div class="box-item clearfix m-t-60">
            <div class="box-head box-head--border box-head--right">
              <i class="fas fa-school"></i>
            </div>
            <div class="box-body box-body--left wow fadeInDown" data-wow-duration=".5s">
              <h3>Classroom Format </h3>
              <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                et quas molestias excepturi sint occaecati cupiditate non premie.
              </p>
            </div>
          </div>
          <div class="box-item clearfix m-t-60">
            <div class="box-head box-head--border box-head--right">
              <i class="far fa-building"></i>
            </div>
            <div class="box-body box-body--left wow fadeInUp" data-wow-duration=".5s">
              <h3>Corporate Collaboration</h3>
              <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                et quas molestias excepturi sint occaecati cupiditate non premie.
              </p>
            </div>
          </div>
          <div class="box-item clearfix m-t-60">
            <div class="box-head box-head--border box-head--right">
              <i class="fas fa-award"></i>
            </div>
            <div class="box-body box-body--left wow fadeInUp" data-wow-duration=".5s">
              <h3>World Class Faculty & Industry Experts</h3>
              <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                et quas molestias excepturi sint occaecati cupiditate non premie.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="why-choose__inner p-l-15">
          <div class="box-item clearfix m-t-60">
            <div class="box-head box-head--border">
              <i class="fas fa-hands-helping"></i>
            </div>
            <div class="box-body box-body--right wow fadeInDown" data-wow-duration=".5s">
              <h3>Placement Assistance</h3>
              <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                et quas molestias excepturi sint occaecati cupiditate non premie.
              </p>
            </div>
          </div>
          <div class="box-item clearfix m-t-60">
            <div class="box-head box-head--border">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="box-body box-body--right wow fadeInUp" data-wow-duration=".5s">
              <h3>Great Lakes Certificate</h3>
              <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                et quas molestias excepturi sint occaecati cupiditate non premie.
              </p>
            </div>
          </div>
          <div class="box-item clearfix m-t-60">
            <div class="box-head box-head--border">
              <i class="fas fa-chalkboard-teacher"></i>
            </div>
            <div class="box-body box-body--right wow fadeInUp" data-wow-duration=".5s">
              <h3>Hands-On Learning</h3>
              <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                et quas molestias excepturi sint occaecati cupiditate non premie.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Why Choose -->

