<div class="who-we-are">
  <div class="container">
    <div class="row">
      <h1 class="who-we-are-title">
        Who we are
      </h1>
      <div class="col-md-6 col-12">
        <div class="who-we-are-text-content">
            Prayan Learning Private Limited, located in Kochi, Kerala, provides services in the field of IT training, 
            and Software services. Prayan mainly focuses on providing job oriented training in associated with
             FTECH Skill Academy. in the areas of Digital Marketing, Data science and Cyber Security.
              Prayan is also provides best web and mobile development services along with digital marketing  

        </div>
      </div>
      <div class="col-md-6 col-12">
<div class="who-we-wre-img">
  <img class="service-image" src="assets/images/who-we-are.png">
</div>
      </div>
    </div>
  </div>
</div>



<div class="what-we-do">
  <div class="container">
    <div class="row">
        <h1 class="who-we-are-title">
            What we do
          </h1>
      <div class="col-md-6 col-12">
          <h2 class=" for-desktop what-we-do-sub-title">Training</h2>
          <h2 class="for-mobile what-we-do-sub-title">Training & Servises</h2>
        <div class="what-we-do-left">   
           
                    <div class="what-we-do-content">
                        
                           <h4 class="sub-sub-title">Business analytics</h4>
                                  
                           It is a comprehensive program that covers the latest analytics tools and techniques along with their
                            business applications. The topics are covered in a practical and hands-on manner with real
                             world case studies to enable participants to succeed in business roles using data analytics.
                      </div>
                      <div class="what-we-do-img">
                          <img class="service-img1" src="assets/images/why-prayan-training-1.png" alt="Loading">
                      </div></div>
    
      </div>
      <div class="col-md-6 col-12">
          <h2 class=" for-desktop what-we-do-sub-title-right">Services</h2>
          <div class="what-we-do-right"> 
          <div class="what-we-do-img">
              <img class="service-img1" src="assets/images/why-prayan-service-3.png" alt="Loading">
          </div>
        
                      <div class="what-we-do-content">
                          
                          <h4 class="sub-sub-title">Discover 
                            </h4>
                                      
                            Discover is where we talk to a lot of people, ask a lot of questions and analyze
                             every piece of data we can get our hands on
                        </div>
      </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-md-6 col-12">
        <div class="what-we-do-left">   
           
                    <div class="what-we-do-content">
                        
                        <h4 class="sub-sub-title">Cyber security    </h4>
                                  
                        Cybersecurity is the information technology field associated with the security of computer systems and information.
                         It encompasses threats to computer hardware, 
                        software and data including theft, hacking, viruses and more. 
                      </div>
                      <div class="what-we-do-img">
                          <img class="service-img1" src="assets/images/why-prayan-training-2.png" alt="Loading">
                      </div></div>
    
      </div>
      <div class="col-md-6 col-12">
          <div class="what-we-do-right"> 
          <div class="what-we-do-img">
              <img class="service-img1" src="assets/images/why-prayan-service-1.png" alt="Loading">
          </div>
        
                      <div class="what-we-do-content">
                          
                          <h4 class="sub-sub-title">Design		</h4>
                                      
                          Design is not just the creative expression of the brand; it is creating the context, the content and the connection between the brand and the customer

                        </div>
      </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-md-6 col-12">
        <div class="what-we-do-left">   
           
                    <div class="what-we-do-content">
                        
                        <h4 class="sub-sub-title">Data Science</h4>
                                  
                        This Master Certificate Program provides training in the skills required to become a certified data scientist.
                         You’ll learn the most in-demand technologies such as Data Science on R, SAS, Python.
                      </div>
                      <div class="what-we-do-img">
                          <img class="service-img1" src="assets/images/why-prayan-training-3.png" alt="Loading">
                      </div></div>
    
      </div>
      <div class="col-md-6 col-12">
          <div class="what-we-do-right"> 
          <div class="what-we-do-img">
              <img class="service-img1" src="assets/images/why-prayan-service-2.png" alt="Loading">
          </div>
        
                      <div class="what-we-do-content">
                          
                          <h4 class="sub-sub-title">Develop 
                            </h4>
                                      
                            This is where our learning is boiled down into actionable insight and strategic direction.
                             It is an iterative process that we do together with you. We make sure what we make is what you need.


                        </div>
      </div>
      </div>
    </div>
    <div class="row">
       
      <div class="col-md-6 col-12">
        <div class="what-we-do-left">   
           
            <div class="what-we-do-content">
                          
                <h4 class="sub-sub-title">Digital Marketing
                  </h4>
                            
                  he Digital Marketing Specialist Master Certification Program will transform you into a complete 
                  digital marketer with expertise in the top eight digital marketing domains — search engine optimization, 
                  social media, pay-per-click, conversion optimization, digital analytics, content, mobile and email marketing. 
              </div>
                      <div class="what-we-do-img">
                          <img class="service-img1" src="assets/images/why-prayan-training-4.png" alt="Loading">
                      </div></div>
    
      </div>
      <div class="col-md-6 col-12">
          <div class="what-we-do-right"> 
          <div class="what-we-do-img">
              <img class="service-img1" src="assets/images/why-prayan-service-4.png" alt="Loading">
          </div>
        
                      <div class="what-we-do-content">
                          
                          <h4 class="sub-sub-title">Quality Analysis</h4>
                                      
                          Our experience working across multi-channel platforms means we know how to get things done on time, 
                          on budget and with the right metrics to measure results. Our Quality assurance experts make sure that
                           the product you get is the best quality and also it gets delivered on time

                        </div>
      </div>
      </div>
    </div>
    <div class="row">
       
      <div class="col-md-6 col-12">
        <div class="what-we-do-left">   
           
                    <div class="what-we-do-content">
                        
                        <h4 class="sub-sub-title">Ethical Hacking</h4>
                                      
                          This course will train you on the advanced step-by-step methodologies that hackers actually use, 
                          such as writing virus codes, and reverse engineering, so you can better protect corporate infrastructure 
                          from data breaches. 
                      </div>
                      <div class="what-we-do-img">
                          <img class="service-img1" src="assets/images/why-prayan-training-5.png" alt="Loading">
                      </div></div>
    
      </div>
      <div class="col-md-6 col-12">
          <div class="what-we-do-right"> 
          <div class="what-we-do-img">
              <img class="service-img1" src="assets/images/why-prayan-service-5.png" alt="Loading">
          </div>
        
                      <div class="what-we-do-content">
                          
                          <h4 class="sub-sub-title">Optimize   </h4>
                                      
                          At Prayan We do care for how our product perform in the market and hence we are pledged to 
                          optimize the performance of our product after the delivery.	

                        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="why-choose-us">
    <h1 class="why-choose-us-title">Why Choose Us</h1>
   
  <div class="container">
      <div class="row">
        <h4 class="why-choose-subtitle">Training</h4>
          <div class="boxes">
     
            <!-- <div class="col-md-2">
            </div> -->
     
          <div class="col-md-2 col-md-offset-2 col-xs-6">
              <div class="box">
          
                 <p class="text">150 Hours of Classroom Sessions<br><br><br>
                  </p> 
              
          </div>
        </div>
     
            <div class="col-md-2 col-xs-6 ">
                <div class="box">
                    <p class="text">Life time Access to Updated Content and Videos
                      </p> 
            </div>
          </div>
     
              <div class="col-md-2  col-xs-6">
                  <div class="box">
                      <p class="text">80 hours of Assignment & Projects <br><br><br></p> 
              </div>
            </div>
     
                <div class="col-md-2  col-xs-6">
                    <div class="box">
                        <p class="text">24*7 Support & LMS Access <br><br><br></p> 
                </div>
              </div>
<!--      
              <div class="col-md-2"></div> -->
     
          </div>
        </div>
     
        <div class="row">
          
              <div class="boxes2">
         
                <!-- <div class="col-md-4">
                </div> -->
        
         
                  <div class="col-md-2 col-md-offset-4  col-xs-6">
                      <div class="box">
                          <p class="text">100+ Case Studies & Real World Projects <br><br></p> 
                  </div>
                </div>
         
                    <div class="col-md-2  col-xs-6">
                        <div class="box">
                            <p class="text">Industry Professional and Academia Faculty
                              </p> 
                    </div>
                  </div>
         
                  <!-- <div class="col-md-4"></div> -->
         
              </div>
            </div>
            <div class="row">
                <h4 class="why-choose-subtitle">Services</h4>
                  <div class="boxes">
             
                    <!-- <div class="col-md-2">
                    </div> -->
             
                  <div class="col-md-2 col-md-offset-2 col-xs-6">
                      <div class="box">
                  
                         <p class="text">Complete Spectrum Of Services<br><br>
                          </p> 
                      
                  </div>
                </div>
             
                    <div class="col-md-2 col-xs-6 ">
                        <div class="box">
                            <p class="text">Matrices Dirven Project Making
                              </p> 
                    </div>
                  </div>
             
                      <div class="col-md-2  col-xs-6">
                          <div class="box">
                              <p class="text">Iterative Agile Methodology <br><br>
                            </p> 
                      </div>
                    </div>
             
                        <div class="col-md-2  col-xs-6">
                            <div class="box">
                                <p class="text">On Time Delivery <br><br><br>
                             
                                  </p> 
                        </div>
                      </div>
        <!--      
                      <div class="col-md-2"></div> -->
             
                  </div>
                </div>
             
                <div class="row">
                  
                      <div class="boxes2">
                 
                        <!-- <div class="col-md-4">
                        </div> -->
                
                 
                          <div class="col-md-2 col-md-offset-4  col-xs-6">
                              <div class="box">
                                  <p class="text">Relationship Driven and Not Contract Driven
                                    </p> 
                          </div>
                        </div>
                 
                            <div class="col-md-2  col-xs-6">
                                <div class="box">
                                    <p class="text">Affordable Prices<br><br><br>
                                      </p> 
                            </div>
                          </div>
                 
                          <!-- <div class="col-md-4"></div> -->
                 
                      </div>
                    </div>
  </div>
</div>

