
/*Why Choose*/

.why-choose {
    padding: 90px 0;
    padding-bottom: 120px;
}

.title-3 {
    position: relative;
    margin-bottom: 100px;
}

.why-choose .title-3 {
    margin-bottom: 56px;
    text-align: center
}

.title-3:after {
    content: "";
    height: 6px;
    width: 133px;
    position: absolute;
    background-color: #bebebe;
    bottom: -35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.why-choose__inner .box-head {
    width: 88px;
}

.why-choose__inner .box-head--border {
    border: 3px solid #bbbbbb;
}

.why-choose__inner .box-head--border i {
    color: #333;
    font-size: 36px;
    line-height: 82px;
    padding: 0px 17px 0px 20px;
    
}

.why-choose__inner .box-body h3 {
    margin-bottom: 7px;
    line-height: 1;
}

.why-choose__inner .box-body p {
    line-height: 20px;
}

.why-choose__inner .box-body--right {
    margin-left: 88px;
    padding-left: 30px;
    padding-right: 0;
    margin-top: -87px;
}

.why-choose__inner .box-body--left {
    text-align: right;
    margin: 0;
    margin-right: 88px;
    padding-right: 30px;
    padding-left: 0;
}

.why-choose__inner .box-head--right {
    float: right;
}
.fa-building:before {
    content: "\f1ad";
    padding-left: 8px;
}
.fa-award:before {
    content: "\f559";
    padding-left: 8px;
}























/* //////media quries/// */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .service-3__item.bottom-shadow {
        padding-bottom: 134px;
    }
    
}