<div class="who-we-are">
  <div class="container">
    <div class="row">
      <h1 class="who-we-are-title">
        Who we are
      </h1>
      <div class="col-md-6 col-12">
        <div class="who-we-are-text-content">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries.
        </div>
      </div>
      <div class="col-md-6 col-12">
<div class="who-we-wre-img">
  <img class="service-image" src="assets/images/who-we-are.png">
</div>
      </div>
    </div>
  </div>
</div>



<div class="what-we-do">
  <div class="container">
    <div class="row">
        <h1 class="who-we-are-title">
            What we do
          </h1>
      <div class="col-md-6 col-12">
          <h2 class=" for-desktop what-we-do-sub-title">Training</h2>
          <h2 class="for-mobile what-we-do-sub-title">Training & Servises</h2>
        <div class="what-we-do-left">   
           
                    <div class="what-we-do-content">
                        
                           <h4 class="sub-sub-title">Three-dimensional integrated circuit</h4>
                                  
                        At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                        et quas molestias excepturi sint occaecati cupiditate non premie.
                      </div>
                      <div class="what-we-do-img">
                          <img class="service-img1" src="assets/images/why-prayan-training-1.png" alt="Loading">
                      </div></div>
    
      </div>
      <div class="col-md-6 col-12">
          <h2 class=" for-desktop what-we-do-sub-title-right">Services</h2>
          <div class="what-we-do-right"> 
          <div class="what-we-do-img">
              <img class="service-img1" src="assets/images/why-prayan-service-1.png" alt="Loading">
          </div>
        
                      <div class="what-we-do-content">
                          
                          <h4 class="sub-sub-title">Three-dimensional integrated circuit</h4>
                                      
                          At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                          et quas molestias excepturi sint occaecati cupiditate non premie.
                        </div>
      </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-md-6 col-12">
        <div class="what-we-do-left">   
           
                    <div class="what-we-do-content">
                        
                        <h4 class="sub-sub-title">Internet of things</h4>
                                  
                        At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                        et quas molestias excepturi sint occaecati cupiditate non premie.
                      </div>
                      <div class="what-we-do-img">
                          <img class="service-img1" src="assets/images/why-prayan-training-2.png" alt="Loading">
                      </div></div>
    
      </div>
      <div class="col-md-6 col-12">
          <div class="what-we-do-right"> 
          <div class="what-we-do-img">
              <img class="service-img1" src="assets/images/why-prayan-service-2.png" alt="Loading">
          </div>
        
                      <div class="what-we-do-content">
                          
                          <h4 class="sub-sub-title">Internet of things</h4>
                                      
                          At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                          et quas molestias excepturi sint occaecati cupiditate non premie.
                        </div>
      </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-md-6 col-12">
        <div class="what-we-do-left">   
           
                    <div class="what-we-do-content">
                        
                        <h4 class="sub-sub-title">Applications of artificial intelligence</h4>
                                  
                        At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                        et quas molestias excepturi sint occaecati cupiditate non premie.
                      </div>
                      <div class="what-we-do-img">
                          <img class="service-img1" src="assets/images/why-prayan-training-3.png" alt="Loading">
                      </div></div>
    
      </div>
      <div class="col-md-6 col-12">
          <div class="what-we-do-right"> 
          <div class="what-we-do-img">
              <img class="service-img1" src="assets/images/why-prayan-service-3.png" alt="Loading">
          </div>
        
                      <div class="what-we-do-content">
                          
                          <h4 class="sub-sub-title">Applications of artificial intelligence</h4>
                                      
                          At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                          et quas molestias excepturi sint occaecati cupiditate non premie.
                        </div>
      </div>
      </div>
    </div>
    <div class="row">
       
      <div class="col-md-6 col-12">
        <div class="what-we-do-left">   
           
                    <div class="what-we-do-content">
                        
                            <h4 class="sub-sub-title">Progress in artificial intelligence</h4>
                                  
                        At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                        et quas molestias excepturi sint occaecati cupiditate non premie.
                      </div>
                      <div class="what-we-do-img">
                          <img class="service-img1" src="assets/images/why-prayan-training-4.png" alt="Loading">
                      </div></div>
    
      </div>
      <div class="col-md-6 col-12">
          <div class="what-we-do-right"> 
          <div class="what-we-do-img">
              <img class="service-img1" src="assets/images/why-prayan-service-4.png" alt="Loading">
          </div>
        
                      <div class="what-we-do-content">
                          
                          <h4 class="sub-sub-title">Progress in artificial intelligence</h4>
                                      
                          At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                          et quas molestias excepturi sint occaecati cupiditate non premie.
                        </div>
      </div>
      </div>
    </div>
    <div class="row">
       
      <div class="col-md-6 col-12">
        <div class="what-we-do-left">   
           
                    <div class="what-we-do-content">
                        
                        <h4 class="sub-sub-title">Machine Translation</h4>
                                  
                        At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                        et quas molestias excepturi sint occaecati cupiditate non premie.
                      </div>
                      <div class="what-we-do-img">
                          <img class="service-img1" src="assets/images/why-prayan-training-5.png" alt="Loading">
                      </div></div>
    
      </div>
      <div class="col-md-6 col-12">
          <div class="what-we-do-right"> 
          <div class="what-we-do-img">
              <img class="service-img1" src="assets/images/why-prayan-service-5.png" alt="Loading">
          </div>
        
                      <div class="what-we-do-content">
                          
                          <h4 class="sub-sub-title">Machine Translation</h4>
                                      
                          At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium voluptatum deleniti atque corrupti quos
                          et quas molestias excepturi sint occaecati cupiditate non premie.
                        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="why-choose-us">
    <h1 class="why-choose-us-title">Why Choose Us</h1>
   
  <div class="container">
      <div class="row">
        <h4 class="why-choose-subtitle">Training</h4>
          <div class="boxes">
     
            <!-- <div class="col-md-2">
            </div> -->
     
          <div class="col-md-2 col-md-offset-2 col-xs-6">
              <div class="box">
          
                 <p class="text">Three dimensional integrated circuit</p> 
              
          </div>
        </div>
     
            <div class="col-md-2 col-xs-6 ">
                <div class="box">
                    <p class="text">Three dimensional integrated circuit</p> 
            </div>
          </div>
     
              <div class="col-md-2  col-xs-6">
                  <div class="box">
                      <p class="text">Three dimensional integrated circuit</p> 
              </div>
            </div>
     
                <div class="col-md-2  col-xs-6">
                    <div class="box">
                        <p class="text">Three dimensional integrated circuit</p> 
                </div>
              </div>
<!--      
              <div class="col-md-2"></div> -->
     
          </div>
        </div>
     
        <div class="row">
          
              <div class="boxes2">
         
                <!-- <div class="col-md-4">
                </div> -->
        
         
                  <div class="col-md-2 col-md-offset-4  col-xs-6">
                      <div class="box">
                          <p class="text">Three dimensional integrated circuit</p> 
                  </div>
                </div>
         
                    <div class="col-md-2  col-xs-6">
                        <div class="box">
                            <p class="text">Three dimensional integrated circuit</p> 
                    </div>
                  </div>
         
                  <!-- <div class="col-md-4"></div> -->
         
              </div>
            </div>
            <div class="row">
                <h4 class="why-choose-subtitle">Services</h4>
                  <div class="boxes">
             
                    <!-- <div class="col-md-2">
                    </div> -->
             
                  <div class="col-md-2 col-md-offset-2 col-xs-6">
                      <div class="box">
                  
                         <p class="text">Three dimensional integrated circuit</p> 
                      
                  </div>
                </div>
             
                    <div class="col-md-2 col-xs-6 ">
                        <div class="box">
                            <p class="text">Three dimensional integrated circuit</p> 
                    </div>
                  </div>
             
                      <div class="col-md-2  col-xs-6">
                          <div class="box">
                              <p class="text">Three dimensional integrated circuit</p> 
                      </div>
                    </div>
             
                        <div class="col-md-2  col-xs-6">
                            <div class="box">
                                <p class="text">Three dimensional integrated circuit</p> 
                        </div>
                      </div>
        <!--      
                      <div class="col-md-2"></div> -->
             
                  </div>
                </div>
             
                <div class="row">
                  
                      <div class="boxes2">
                 
                        <!-- <div class="col-md-4">
                        </div> -->
                
                 
                          <div class="col-md-2 col-md-offset-4  col-xs-6">
                              <div class="box">
                                  <p class="text">Three dimensional integrated circuit</p> 
                          </div>
                        </div>
                 
                            <div class="col-md-2  col-xs-6">
                                <div class="box">
                                    <p class="text">Three dimensional integrated circuit</p> 
                            </div>
                          </div>
                 
                          <!-- <div class="col-md-4"></div> -->
                 
                      </div>
                    </div>
  </div>
</div>

