


<div class="container-fluid">
    <div class="row"> <div class="col-md-12 col-12 training-banner">
        <img class="img-training-banner" src="assets/images/digi-banner.jpg" alt="loading">
        <div class="training-text">
          <h1 class="training-title">Digital Marketing</h1>
          <p class="training-content">All the great things are simple, and many<br> can be expressed in a single word:</p>
          <button class="training-banner-button">Contact Us</button>
        </div>
      </div></div>
  </div>
  
     
   <!-- practice areas -->
<section class="practice" style="background-color:white; ">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-4 col-12"  >
    <div class="practice-left">
        <div class="practice-left-title">
            <h1 class="main-title">COURSE HIGHLIGHTS</h1>
          </div>
          <div class="horg-line"><hr class="style5"></div>
          <div class="practice-left-content">All the great things are simple, and many can be expressed in a single word:
             freedom, justice, honor, duty, mercy, hope.</div>
             <div class="cource-curru">
                <button type="button" class="btn btn-info btn-lg course-highlights"  (click)="toggle()">{{buttonName}}</button>
      </div>
        </div>
    </div>
    
    <div class="col-md-8 col-12"> 
    <div class="row practice-row1" *ngIf=!(show)>
      <div class="col-md-3 col-sm-6">
        <div class="practice-right-indi">
            <div class="practice-icon">
              <img class="service-img" src="assets/images/course-curricullum-1.png" alt="Loading"></div>
            <div class="practice-title"><h1 class="title-verticale">Web Development</h1></div>
            <div class="practice-content">Sustainable development is the pathway to the future</div>
            <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing">ReadMore</a></div>
        </div>
        
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="practice-right-indi">
              <div class="practice-icon">
                <img class="service-img" src="assets/images/course-curricullum-2.png" alt="Loading"></div>
              <div class="practice-title"><h1 class="title-verticale">Mobile Applications</h1></div>
              <div class="practice-content">Sustainable development is the pathway to the future</div>
              <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing"> ReadMore</a></div>
          </div>
        
    </div>
      <div class="col-md-3 col-sm-6">
          <div class="practice-right-indi"><div class="practice-icon">
            <img class="service-img" src="assets/images/course-curricullum-3.png" alt="Loading"></div>
          <div class="practice-title"><h1 class="title-verticale">Training</h1></div>
          <div class="practice-content">Sustainable development is the pathway to the future</div>
          <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing"> ReadMore</a></div>
        </div>
         
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="practice-right-indi"><div class="practice-icon">
          <img class="service-img" src="assets/images/course-curricullum-4.png" alt="Loading"></div>
        <div class="practice-title"><h1 class="title-verticale">Web Development</h1></div>
        <div class="practice-content">Sustainable development is the pathway to the future</div>
        <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing"> ReadMore</a></div>
      </div>
       
    </div>
    </div>
    <div class="row practice-row2" *ngIf=!(show)>
        <div class="col-md-3 col-sm-6">
          <div class="practice-right-indi">
              <div class="practice-icon">
                <img class="service-img" src="assets/images/course-curricullum-5.png" alt="Loading"></div>
              <div class="practice-title"><h1 class="title-verticale">Digital Marketing</h1></div>
              <div class="practice-content">Sustainable development is the pathway to the future</div>
              <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing"> ReadMore</a></div>
          </div>
          
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="practice-right-indi">
                <div class="practice-icon"><img class="service-img" src="assets/images/course-curricullum-6.png" alt="Loading"></div>
                <div class="practice-title"><h1 class="title-verticale">SEO</h1></div>
                <div class="practice-content">Sustainable development is the pathway to the future</div>
                <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing">ReadMore</a></div>
            </div>
          
      </div>
        <div class="col-md-3 col-sm-6">
            <div class="practice-right-indi">
              <div class="practice-icon"><img class="service-img" src="assets/images/course-curricullum-7.png" alt="Loading"></div>
            <div class="practice-title"><h1 class="title-verticale">Online Branding</h1></div>
            <div class="practice-content">Sustainable development is the pathway to the future</div>
            <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing">ReadMore</a></div>
          </div>
           
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="practice-right-indi"><div class="practice-icon"><img class="service-img" src="assets/images/course-curricullum-8.png" alt="Loading"></div>
          <div class="practice-title"><h1 class="title-verticale">SEO</h1></div>
          <div class="practice-content">Sustainable development is the pathway to the future</div>
          <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing">ReadMore</a></div>
        </div>
         
    </div>
      </div>
      
      <div class="course-curricullum" *ngIf="show">
          
           <div class="row">
              <div class="col-md-6 col-xs-12 "> 
                <div class="curri-left">
                    <ul class="curri-left-ul">
                      <li><i class="fas fa-caret-right"></i>What is Digital Marketing</li>
                      <li><i class="fas fa-caret-right"></i>Importance of Digital Marketing</li>
                      <li><i class="fas fa-caret-right"></i>Digital & You </li>
                      <li><i class="fas fa-caret-right"></i>Ecommerce Marketing </li>
                      <li><i class="fas fa-caret-right"></i>Social Media and Paid Promotions</li>
                      <li><i class="fas fa-caret-right"></i>Google Ads</li>
                      <li><i class="fas fa-caret-right"></i>SEO</li>
                      <li><i class="fas fa-caret-right"></i>Content Marketing and Blogging</li>
                      <li><i class="fas fa-caret-right"></i>Affiliate Marketing</li>
                      <li><i class="fas fa-caret-right"></i>Facebook Marketing</li>
                      <li><i class="fas fa-caret-right"></i>LinkedIn Marketing</li>
                    </ul>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="curri-right">
                    <ul class="curri-right-ul">
                        <li><i class="fas fa-caret-right"></i>Twitter Marketing</li>
                        <li><i class="fas fa-caret-right"></i>Video Marketing</li>
                        <li><i class="fas fa-caret-right"></i>Instagram Marketing</li>
                        <li><i class="fas fa-caret-right"></i>Pinterest Marketing</li>
                        <li><i class="fas fa-caret-right"></i>Email Marketing</li>
                        <li><i class="fas fa-caret-right"></i>Website Planning and Creation</li>
                        <li><i class="fas fa-caret-right"></i>Google Analytics</li>
                        <li><i class="fas fa-caret-right"></i>Mobile Web Marketing</li>
                        <li><i class="fas fa-caret-right"></i>Influencer Marketing</li>
                        <li><i class="fas fa-caret-right"></i>Online Reputation Management</li>
                        <li><i class="fas fa-caret-right"></i>AdSesnse</li>
                      </ul>
                </div>
              </div>
           </div>
          </div>
    </div>
    </div>
    </div>
    </section>
<!-- practice-area  end -->
  <!--case start-->
  <!--case start-->
  <div class="container-fluid"><div class="row head">
    <h2>Case Study</h2>
  </div></div>
  
  
  
  <section class="card">
    <div class="container"> <div class="row card1">
        <div class="col-md-4 col-12">
        <a routerLink="/digital-marketing"> 
           <div class="cardele">
          <div class="top">Data Analytics</div>
          <div class="description">
         <p>All the great things are simple, and many can be expressed in a 
           single word: freedom, justice, honor, duty, mercy, hope
           All the great things are simple, and many can be expressed in a 
           single word: freedom, justice, honor, duty, mercy, hope
           All the great things are simple, and many can be expressed in a 
             single word: freedom, justice, honor, duty, mercy, hope
          </p></div>
          </div>
        </a>
        </div>
        <div class="col-md-4 col-12">
            <a routerLink="/digital-marketing">  
                  <div class="cardele">
            
            <div class="top">Cyber Security</div>
            <div class="description">
           <p>All the great things are simple, and many can be expressed in a 
             single word: freedom, justice, honor, duty, mercy, hope
             All the great things are simple, and many can be expressed in a 
             single word: freedom, justice, honor, duty, mercy, hope
             All the great things are simple, and many can be expressed in a 
             single word: freedom, justice, honor, duty, mercy, hope
            </p></div>
            </div>
            </a>
          </div>
          <div class="col-md-4 col-12">
              <a routerLink="/digital-marketing">   
            <div class="cardele">
              
              <div class="top">Digital Marketing</div>
              <div class="description">
             <p>All the great things are simple, and many can be expressed in a 
               single word: freedom, justice, honor, duty, mercy, hope
               All the great things are simple, and many can be expressed in a 
               single word: freedom, justice, honor, duty, mercy, hope
               All the great things are simple, and many can be expressed in a 
             single word: freedom, justice, honor, duty, mercy, hope
              </p></div>
              </div>
              </a>
            </div>
      </div></div>
  
  </section>
  <!-- case end -->
  
  
  <!-- Testinominals start-->
  <app-tesinominals></app-tesinominals>
  
  <!-- Testinominals end -->
  
  <!-- associate start -->
  <app-associates></app-associates>
    <!-- associate end -->
  
  