


<div class="container-fluid training-bannerr">
    <div class="row"> <div class="col-md-12 col-12 training-banner">
        <img class="img-training-banner" src="assets/images/analytics-banner.jpg" alt="loading">
        <div class="training-text">
          <h1 class="training-title">Data Analytics</h1>
          <p class="training-content">“Data is what you need to do Analytics,<br> Information is what you need to do Business”
            </p>
         
        </div>
      </div></div>
  </div>
  
     
   <!-- practice areas -->
<section class="practice" style="background-color:white; ">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-4 col-12"  >
    <div class="practice-left">
        <div class="practice-left-title">
            <h1 class="main-title">COURSE HIGHLIGHTS</h1>
          </div>
          <div class="horg-line"><hr class="style5"></div>
          <div class="practice-left-content">F-TEC Skill Development is an initiative of Foresight Edutech Private Limited,
             a NSDC partner Company. F-TEC as training organisation was set-up in 1995 to cater the demands of IT
              skilled workforce which over the time evolved as a training and Multi-Skilling company working extensively to 
              support Skill India Mission.
            </div>
             <div class="cource-curru">
                <button type="button" class="btn btn-info btn-lg course-highlights"  (click)="toggle()">{{buttonName}}</button>
      </div>
        </div>
    </div>
    
    <div class="col-md-8 col-12" > 
        <div class="row practice-row1" *ngIf="!(show)">
            <div class="col-md-3 col-sm-6">
              <div class="practice-right-indi">
                  <div class="practice-icon">
                    <img class="service-img" src="assets/images/course-curricullum-1.png" alt="Loading"></div>
                  <div class="practice-title"><h1 class="title-verticale">E Learning</h1></div>
                  <div class="practice-content">Utilize electronic technologies to access our curriculum.</div>
                
              </div>
              
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="practice-right-indi">
                    <div class="practice-icon">
                      <img class="service-img" src="assets/images/course-curricullum-2.png" alt="Loading"></div>
                    <div class="practice-title"><h1 class="title-verticale">Guaranteed Placements
                      </h1></div>
                    <div class="practice-content">:  Assured Placement assistance in all programs.</div>
                    
                </div>
              
          </div>
            <div class="col-md-3 col-sm-6">
                <div class="practice-right-indi"><div class="practice-icon">
                  <img class="service-img" src="assets/images/course-curricullum-3.png" alt="Loading"></div>
                <div class="practice-title"><h1 class="title-verticale">Project Based training</h1></div>
                <div class="practice-content">Training based on live projects with industry experts.
                  </div>
               
              </div>
               
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="practice-right-indi"><div class="practice-icon">
                <img class="service-img" src="assets/images/course-curricullum-4.png" alt="Loading"></div>
              <div class="practice-title"><h1 class="title-verticale">Job Opportunity</h1></div>
              <div class="practice-content">In house job opportunity along with the training.</div>
           
            </div>
             
          </div>
          </div>
          <div class="row practice-row2" *ngIf="!(show)">
              <div class="col-md-3 col-sm-6">
                <div class="practice-right-indi">
                    <div class="practice-icon">
                      <img class="service-img" src="assets/images/course-curricullum-5.png" alt="Loading"></div>
                    <div class="practice-title"><h1 class="title-verticale">24 *7 access</h1></div>
                    <div class="practice-content">Access to our course data at any time of the day.
                      </div>
                    
                </div>
                
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="practice-right-indi">
                      <div class="practice-icon"><img class="service-img" src="assets/images/course-curricullum-6.png" alt="Loading"></div>
                      <div class="practice-title"><h1 class="title-verticale">Experts from Industry</h1></div>
                      <div class="practice-content">Training sessions from the industry experts.
                        </div>
                     
                  </div>
                
            </div>
              <div class="col-md-3 col-sm-6">
                  <div class="practice-right-indi">
                    <div class="practice-icon"><img class="service-img" src="assets/images/course-curricullum-7.png" alt="Loading"></div>
                  <div class="practice-title"><h1 class="title-verticale">Events and workshops</h1></div>
                  <div class="practice-content">Frequent happenings inside the campus to enlighten knowledge.
                    </div>
                  
                </div>
                 
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="practice-right-indi"><div class="practice-icon"><img class="service-img" src="assets/images/course-curricullum-8.png" alt="Loading"></div>
                <div class="practice-title"><h1 class="title-verticale">Theory in Practice
                  </h1></div>
                <div class="practice-content">opportunity to gain knowledge on every aspect of the program.
                  </div>
               
              </div>
               
          </div>
            </div>

      <div class="course-curricullum" *ngIf="show">
   
       <div class="row">
          <div class="col-md-6 col-xs-12 "> 
            <div class="curri-left">
                <ul class="curri-left-ul">
                  <li><i class="fas fa-caret-right"></i>Introduction to Ethical Hacking</li>
                  <li><i class="fas fa-caret-right"></i>Foot printing Concepts</li>
                  <li><i class="fas fa-caret-right"></i>Scanning Concepts </li>
                  <li><i class="fas fa-caret-right"></i>Enumeration </li>
                  <li><i class="fas fa-caret-right"></i>System Hacking</li>
                  <li><i class="fas fa-caret-right"></i>Malware Threats</li>
                  <li><i class="fas fa-caret-right"></i>Sniffing</li>
                  <li><i class="fas fa-caret-right"></i>Social Engineers</li>
                  <li><i class="fas fa-caret-right"></i>Denial of Service</li>
                  
                </ul>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="curri-right">
                <ul class="curri-right-ul">
                    <li><i class="fas fa-caret-right"></i>Session Hijacking</li>
                    <li><i class="fas fa-caret-right"></i>Hacking Web Server </li>
                    <li><i class="fas fa-caret-right"></i>Hacking Web Applications</li>
                    <li><i class="fas fa-caret-right"></i>SQL Injection</li>
                    <li><i class="fas fa-caret-right"></i>Hacking Wireless Networks</li>
                    <li><i class="fas fa-caret-right"></i>Hacking Mobile Platforms</li>
                    <li><i class="fas fa-caret-right"></i>IOT Hacking</li>
                    <li><i class="fas fa-caret-right"></i>Cloud Computing</li>
                    <li><i class="fas fa-caret-right"></i>Cryptography</li>
                  
                  </ul>
            </div>
          </div>
       </div>
      </div>

    </div>
    </div>
    </div>
    </section>
<!-- practice-area  end -->
  <!--case start-->
  <!--case start-->
  <div class="container-fluid"><div class="row head">
    <h2>Master Data Science</h2>
  </div></div>
  
  
  
  <section class="card">
    <div class="container"> <div class="row card1">
        <div class="col-md-4 col-12">
        <a routerLink="/digital-marketing"> 
           <div class="cardele">
          <div class="top">Data Science</div>
          <div class="description">
         <p>Did you know there will be a shortage of 2,00,000 trained data analysts in India by 2020.
            According to PWC, 67% of the job openings are analytics-enabled, 50,000 jobs are already listed across 
            portals as you read this.

            
          </p></div>
          </div>
        </a>
        </div>
        <div class="col-md-4 col-12">
            <a routerLink="/digital-marketing">  
                  <div class="cardele">
            
            <div class="top">Data Science</div>
            <div class="description">
           <p>This course prepares you for the role of Data Scientist by making you an expert in Statistics,
              R Programming & Machine Learning. The program has been designed by joint efforts help you master 
              in data mining, management, exploration, and carry out several industry-relevant projects.
            </p></div>
            </div>
            </a>
          </div>
          <div class="col-md-4 col-12">
              <a routerLink="/digital-marketing">   
            <div class="cardele">
              
              <div class="top">Data Science</div>
              <div class="description">
             <p>We provide these specialized skilling programs for fresh graduates and re-skilling of workforce to 
               come out as winner in the era of disruption created by new technologies.


                
              </p></div>
              </div>
              </a>
            </div>
      </div></div>
  
  </section>
  <!-- case end -->
  
  
  <!-- Testinominals start-->
  <app-tesinominals></app-tesinominals>
  
  <!-- Testinominals end -->
  
  <!-- associate start -->
  <app-associates></app-associates>
    <!-- associate end -->
  
  