


<div class="container-fluid">
    <div class="row"> <div class="col-md-12 col-12 training-banner">
        <img class="img-training-banner" src="assets/images/analytics-banner.jpg" alt="loading">
        <div class="training-text">
          <h1 class="training-title">Data Analytics</h1>
          <p class="training-content">All the great things are simple, and many<br> can be expressed in a single word:</p>
          <button class="training-banner-button">Contact Us</button>
        </div>
      </div></div>
  </div>
  
     
   <!-- practice areas -->
<section class="practice" style="background-color:white; ">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-4 col-12"  >
    <div class="practice-left">
        <div class="practice-left-title">
            <h1 class="main-title">COURSE HIGHLIGHTS</h1>
          </div>
          <div class="horg-line"><hr class="style5"></div>
          <div class="practice-left-content">All the great things are simple, and many can be expressed in a single word:
             freedom, justice, honor, duty, mercy, hope.</div>
             <div class="cource-curru">
                <button type="button" class="btn btn-info btn-lg course-highlights"  (click)="toggle()">{{buttonName}}</button>
      </div>
        </div>
    </div>
    
    <div class="col-md-8 col-12"> 
    <div class="row practice-row1" *ngIf=!(show)>
      <div class="col-md-3 col-sm-6">
        <div class="practice-right-indi">
            <div class="practice-icon">
              <img class="service-img" src="assets/images/course-curricullum-1.png" alt="Loading"></div>
            <div class="practice-title"><h1 class="title-verticale">Web Development</h1></div>
            <div class="practice-content">Sustainable development is the pathway to the future</div>
            <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing">ReadMore</a></div>
        </div>
        
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="practice-right-indi">
              <div class="practice-icon">
                <img class="service-img" src="assets/images/course-curricullum-2.png" alt="Loading"></div>
              <div class="practice-title"><h1 class="title-verticale">Mobile Applications</h1></div>
              <div class="practice-content">Sustainable development is the pathway to the future</div>
              <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing"> ReadMore</a></div>
          </div>
        
    </div>
      <div class="col-md-3 col-sm-6">
          <div class="practice-right-indi"><div class="practice-icon">
            <img class="service-img" src="assets/images/course-curricullum-3.png" alt="Loading"></div>
          <div class="practice-title"><h1 class="title-verticale">Training</h1></div>
          <div class="practice-content">Sustainable development is the pathway to the future</div>
          <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing"> ReadMore</a></div>
        </div>
         
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="practice-right-indi"><div class="practice-icon">
          <img class="service-img" src="assets/images/course-curricullum-4.png" alt="Loading"></div>
        <div class="practice-title"><h1 class="title-verticale">Web Development</h1></div>
        <div class="practice-content">Sustainable development is the pathway to the future</div>
        <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing"> ReadMore</a></div>
      </div>
       
    </div>
    </div>
    <div class="row practice-row2" *ngIf=!(show)>
        <div class="col-md-3 col-sm-6">
          <div class="practice-right-indi">
              <div class="practice-icon">
                <img class="service-img" src="assets/images/course-curricullum-5.png" alt="Loading"></div>
              <div class="practice-title"><h1 class="title-verticale">Digital Marketing</h1></div>
              <div class="practice-content">Sustainable development is the pathway to the future</div>
              <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing"> ReadMore</a></div>
          </div>
          
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="practice-right-indi">
                <div class="practice-icon"><img class="service-img" src="assets/images/course-curricullum-6.png" alt="Loading"></div>
                <div class="practice-title"><h1 class="title-verticale">SEO</h1></div>
                <div class="practice-content">Sustainable development is the pathway to the future</div>
                <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing">ReadMore</a></div>
            </div>
          
      </div>
        <div class="col-md-3 col-sm-6">
            <div class="practice-right-indi">
              <div class="practice-icon"><img class="service-img" src="assets/images/course-curricullum-7.png" alt="Loading"></div>
            <div class="practice-title"><h1 class="title-verticale">Online Branding</h1></div>
            <div class="practice-content">Sustainable development is the pathway to the future</div>
            <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing">ReadMore</a></div>
          </div>
           
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="practice-right-indi"><div class="practice-icon"><img class="service-img" src="assets/images/course-curricullum-8.png" alt="Loading"></div>
          <div class="practice-title"><h1 class="title-verticale">SEO</h1></div>
          <div class="practice-content">Sustainable development is the pathway to the future</div>
          <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing">ReadMore</a></div>
        </div>
         
    </div>
      </div>
      
      <div class="course-curricullum" *ngIf="show">
          
           <div class="row">
              <div class="col-md-6 col-xs-12 "> 
                <div class="curri-left">
                  <h4>Master Certification in Data Science
                    </h4>
                    <ul class="curri-left-ul">
                      <li><i class="fas fa-caret-right"></i>Introduction to the concept of data science</li>
                      <li><i class="fas fa-caret-right"></i>Basics of Statistics </li>
                      <li><i class="fas fa-caret-right"></i>Introduction to Data Management and Information Synthesis </li>
                      <li><i class="fas fa-caret-right"></i>Business Requirement and Understanding</li>
                      <li><i class="fas fa-caret-right"></i>Introduction to Programing</li>
                      <li><i class="fas fa-caret-right"></i>Managing Data from different Sources</li>
                      <li><i class="fas fa-caret-right"></i>Module Data Quality and Risk Management</li>
                      <li><i class="fas fa-caret-right"></i>Data visualization</li>
                      <li><i class="fas fa-caret-right"></i>Introduction to Artificial Intelligence</li>
                      <li><i class="fas fa-caret-right"></i>Introduction to Machine Learning</li>
                      <li><i class="fas fa-caret-right"></i>Learning and Self Development-Live Project</li>
                    </ul>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="curri-right">
                    <h4>Master Certification in Business Analytics
                      </h4>
                    <ul class="curri-right-ul">
                        <li><i class="fas fa-caret-right"></i>Effective functional communication skills</li>
                        <li><i class="fas fa-caret-right"></i>Project Performance Evaluation </li>
                        <li><i class="fas fa-caret-right"></i>Project Outcomes Indicator </li>
                        <li><i class="fas fa-caret-right"></i>Performance Indicator</li>
                        <li><i class="fas fa-caret-right"></i>Documentation Skills</li>
                        <li><i class="fas fa-caret-right"></i>Analytics of Data</li>
                        <li><i class="fas fa-caret-right"></i>Creating MIS</li>
                        <li><i class="fas fa-caret-right"></i>Analytics Tools</li>
                        <li><i class="fas fa-caret-right"></i>Basic IT</li>
                        <li><i class="fas fa-caret-right"></i>MS-Excel</li>
                        <li><i class="fas fa-caret-right"></i>Advance Excel</li>
                        <li><i class="fas fa-caret-right"></i>VBA Programing</li>

                      </ul>
                </div>
              </div>
           </div>
          </div>
    </div>
    </div>
    </div>
    </section>
<!-- practice-area  end -->
  <!--case start-->
  <!--case start-->
  <div class="container-fluid"><div class="row head">
    <h2>Case Study</h2>
  </div></div>
  
  
  
  <section class="card">
    <div class="container"> <div class="row card1">
        <div class="col-md-4 col-12">
        <a routerLink="/digital-marketing"> 
           <div class="cardele">
          <div class="top">Data Analytics</div>
          <div class="description">
         <p>All the great things are simple, and many can be expressed in a 
           single word: freedom, justice, honor, duty, mercy, hope
           All the great things are simple, and many can be expressed in a 
           single word: freedom, justice, honor, duty, mercy, hope
           All the great things are simple, and many can be expressed in a 
             single word: freedom, justice, honor, duty, mercy, hope
          </p></div>
          </div>
        </a>
        </div>
        <div class="col-md-4 col-12">
            <a routerLink="/digital-marketing">  
                  <div class="cardele">
            
            <div class="top">Cyber Security</div>
            <div class="description">
           <p>All the great things are simple, and many can be expressed in a 
             single word: freedom, justice, honor, duty, mercy, hope
             All the great things are simple, and many can be expressed in a 
             single word: freedom, justice, honor, duty, mercy, hope
             All the great things are simple, and many can be expressed in a 
             single word: freedom, justice, honor, duty, mercy, hope
            </p></div>
            </div>
            </a>
          </div>
          <div class="col-md-4 col-12">
              <a routerLink="/digital-marketing">   
            <div class="cardele">
              
              <div class="top">Digital Marketing</div>
              <div class="description">
             <p>All the great things are simple, and many can be expressed in a 
               single word: freedom, justice, honor, duty, mercy, hope
               All the great things are simple, and many can be expressed in a 
               single word: freedom, justice, honor, duty, mercy, hope
               All the great things are simple, and many can be expressed in a 
             single word: freedom, justice, honor, duty, mercy, hope
              </p></div>
              </div>
              </a>
            </div>
      </div></div>
  
  </section>
  <!-- case end -->
  
  
  <!-- Testinominals start-->
  <app-tesinominals></app-tesinominals>
  
  <!-- Testinominals end -->
  
  <!-- associate start -->
  <app-associates></app-associates>
    <!-- associate end -->
  
  