
<!-- ========================================================= -->
<div id="carousel-example-generic2" class="carousel slide carousel-fullscreen carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url('assets/images/banner-1.jpg');">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1 class="super-heading" *ngIf="bannerhed">Web sites with Great Designs </h1>
        <p class="super-paragraph" *ngIf="bannercon">Find out what great work can do to your business
          </p>
        <button   *ngIf="bannercon" class="carousel-button"><a href="http://www.prayanlearning.in/contact" class="banner-button">Contact Us</a></button>
      </div>
    </div>
    <div class="item" style="background-image: url('assets/images/banner-2.jpg');">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1 class="super-heading" *ngIf="bannerhed">Best Performing Mobile apps  </h1>
        <p class="super-paragraph" *ngIf="bannercon">Transform your business with high ends native mobile apps
          </p>
        <button class="carousel-button"><a href="http://www.prayanlearning.in/contact" class="banner-button"> Contact Us</a></button>
      </div>
    </div>
    <div class="item" style="background-image: url('assets/images/banner-3.jpg');">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1 class="super-heading" *ngIf="bannerhed">Get the career you deserve</h1>
        <p class="super-paragraph" *ngIf="bannercon">Master in-demand skills and achieve your career goals</p>
        <button class="carousel-button"><a href="http://www.prayanlearning.in/contact" class="banner-button"> Contact Us</a></button>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- liki start -->
<section class="second">
<div class="row fd">
<div class="wr">Welcome to Prayan Learning Pvt Ltd 
</div>
</div>
<div class="row fd1">
<div class="col-md-6 r1">
 <div class="write">
<h4> Our Vision</h4>
To become a proactive catalyst for social class mobility, by setting a higher standard for IT education.
 Prayan caters to all individuals ranging from beginner level to the professional.
  <!-- Our desire is to create value, earn trust, deliver results, exceed expectations, and empower people. -->

</div>

</div>
<div class="col-md-6 r2">
<div class="write1">
  <h1 class="secdiv-right-title"> Our Mission</h1>
  
  <p>Is to contribute to the social and economic development of our locale and our country and to employment by raising and improvising
     the workforce who know how to access and analyze information in accordance with the needs of information technology .
  </p>
  </div>
</div>
</div>
<div class="row fd2">
 <div class="col-md-8">
  Let us assist you with more information, answer any questions
   that you may have and create the best solution for your needs.

</div>
<div class="col-md-4">
  <button class="btn button "><a class="getintouch" href="http://www.prayanlearning.in/contact"> Get In Touch</a></button>
</div>
 </div>

</section>

<!-- practice areas -->
<section class="practice" style="background-color:white; ">
<div class="container">
<div class="row">
<div class="col-md-4 col-12"  >
<div class="practice-left">
    <div class="practice-left-title">
        <h1 class="main-title">OUR SERVICE AREAS</h1>
      </div>
      <div class="horg-line"><hr class="style5"></div>
      <div class="practice-left-content">Successful businesses are not created overnight. 
        They are the result of well-crafted planning and execution.
      </div>
    </div>
</div>

<div class="col-md-8 col-12"> 
<div class="row practice-row1">
  <div class="col-md-4">
    <div class="practice-right-indi">
        <div class="practice-icon">
          <img class="service-img" src="assets/images/web-development.png" alt="Loading"></div>
        <div class="practice-title"><h1 class="title-verticale">Web Development</h1></div>
        <div class="practice-content">We love to design and pay great attention to every detail 
          to make perfect end product.
          </div>
        <div class="readmore"><a class="link-readmore" routerLink="/web-Development">ReadMore</a></div>
    </div>
    
  </div>
  <div class="col-md-4">
      <div class="practice-right-indi">
          <div class="practice-icon">
            <img class="service-img" src="assets/images/mobile.png" alt="Loading"></div>
          <div class="practice-title"><h1 class="title-verticale">Mobile Applications</h1></div>
          <div class="practice-content">Our pixel perfect result makes us the one of the top Android app Development companies in Kochi.
            </div>
          <div class="readmore"><a class="link-readmore" routerLink="/mobile"> ReadMore</a></div>
      </div>
    
</div>
  <div class="col-md-4">
      <div class="practice-right-indi"><div class="practice-icon">
        <img class="service-img" src="assets/images/training.png" alt="Loading"></div>
      <div class="practice-title"><h1 class="title-verticale">Training</h1></div>
      <div class="practice-content">We provide the best Job Oriented training in Data science,
         Cyber Security and Digital Marketing</div>
      <div class="readmore"><a class="link-readmore" routerLink="/digital-marketing"> ReadMore</a></div>
    </div>
     
</div>
</div>
<div class="row practice-row2">
    <div class="col-md-4">
      <div class="practice-right-indi">
          <div class="practice-icon">
            <img class="service-img" src="assets/images/digital-marketing.png" alt="Loading"></div>
          <div class="practice-title"><h1 class="title-verticale">Digital Marketing</h1></div>
          <div class="practice-content">We provide A to Z Digital Marketing Services in Kochi
             that can help your business reach more people and grow.
            </div>
          <div class="readmore"><a class="link-readmore" routerLink="/digital"> ReadMore</a></div>
      </div>
      
    </div>
    <div class="col-md-4">
        <div class="practice-right-indi">
            <div class="practice-icon"><img class="service-img" src="assets/images/seoo.png" alt="Loading"></div>
            <div class="practice-title"><h1 class="title-verticale">SEO</h1></div>
            <div class="practice-content">Internet marketing is crucial for a long term and sustainable success of business. 
              <!-- The only powerful and successful technique to high rankings is Search Engine Optimization which means SEO service.
               Any online business to achieve success needs to do Search Engine Optimization. 
               SS Group specializes in website Promotion in to major Search engines. -->
              </div>
            <div class="readmore"><a class="link-readmore" routerLink="/digital">ReadMore</a></div>
        </div>
      
  </div>
    <div class="col-md-4">
        <div class="practice-right-indi"><div class="practice-icon"><img class="service-img" src="assets/images/branding.png" alt="Loading"></div>
        <div class="practice-title"><h1 class="title-verticale">Online Branding</h1></div>
        <div class="practice-content">online Marketing methodology to promote your web presence to the 
          target audience on social media sites like Facebook, Twitter, and LinkedIn etc. 
          <!-- It aims to make your website, 
          blog, and online content visible among the social media, 
          so that you can be closer and connected to your prospects and customers. -->
          </div>
        <div class="readmore"><a class="link-readmore" routerLink="/digital">ReadMore</a></div>
      </div>
       
  </div>
  </div>
</div>
</div>
</div>
</section>
<!-- practice-area  end -->
<!--case start-->
<!--case start-->
<div class="container-fluid"><div class="row head">
  <h2>Train for your Future </h2>
</div></div>



<section class="card">
  <div class="container"> <div class="row card1">
      <div class="col-md-4 col-12">
      <a routerLink="/data-analytics"> 
         <div class="cardele">
        <div class="img-responsive image">
          <img src="assets/images/0.jpg">
        </div>
        <div class="top">Data Analytics</div>
        <div class="description">
       <p>This course prepares you for the role of Data Scientist by making you an expert in Statistics,
          R Programming & Machine Learning. The program has been designed by joint
           efforts help you master in data mining, management, exploration, and carry out several
            industry-relevant projects.
        </p></div>
        </div>
      </a>
      </div>
      <div class="col-md-4 col-12">
          <a routerLink="/cyber-security">  
                <div class="cardele">
          <div class="img-responsive image">
            <img src="assets/images/00.jpg">
          </div>
          <div class="top">Cyber Security</div>
          <div class="description">
         <p>We are all currently living in a digital age where organizations are driven by technology resulting
            in enhanced efficiency and faster information & data flows. However, this digitalization 
            has a huge challenge in terms of data security for which F-TEC has developed a pool of
             cyber security 
             <!-- experts of international repute with in-depth exposure to develop solutions 
             for organizations to ensure data security on all their digital platforms -->
            </p></div>
          </div>
          </a>
        </div>
        <div class="col-md-4 col-12">
            <a routerLink="/digital-marketing">   
          <div class="cardele">
            <div class="img-responsive image">
              <img src="assets/images/000.jpg">
            </div>
            <div class="top">Digital Marketing</div>
            <div class="description">
           <p>F-TEC has developed an independent vertical working closely with F-TEC Skill Academy to
              provide 360 Degree Social Media Solutions with FB Marketing, Twitter Handle, Linkedin Profile,
               Blogs and overall Integrated Social Marketing Management across platforms.
            </p></div>
            </div>
            </a>
          </div>
    </div></div>

</section>
<!-- case end -->
<!-- case end -->
<!--contact us starts-->
<section class="container-fluid contact">
    <div class="row full">
      <div class="col-md-3 con_icon">
          <img src="assets/images/phnring.png">9440512838
      </div>
     
      <div class="col-md-7 contact-text">
          <div class="hr-contact-left"><hr></div>
          <div class="con_text">  CONTACT US WE ARE HERE TO WORK WITH YOU</div>
    
      <div class="hr-contact-right"><hr></div>
    
      </div>
     
      <div class="col-md-2">
          <button class="btn button_con"><a class="contactlink" href="http://www.prayanlearning.in/contact">Get In Touch</a></button>
      </div>
    </div>
  </section>
<!-- contact us end -->
<!-- Testinominals start-->
<app-tesinominals></app-tesinominals>

<!-- Testinominals end -->

<!-- associate start -->
<app-associates></app-associates>
  <!-- associate end -->
