<section class="container service">
    <div class="service-title">Digital Marketing</div>
    <div class="row">
        <h3 class="service-heading">SEO</h3>
      <div class="digi">
        
        <div class="col-md-6">
          <img class="service-image" src="assets/images/service.png">
        </div>
        <div class="col-md-6">
          <div class="digi-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              It has survived not only five centuries.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              It has survived not only five centuries.
          </div>
        </div>
      </div>
    </div>
  
        <div class="row"> 
        <h3 class="service-heading">SMO</h3>
          
          <div class="digi ">
        <div class="reverse"> <div class="col-md-6">
            <div class="digi-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries.
            </div>
          </div>
          <div class="col-md-6">
              <img class="service-image" src="assets/images/service-1.png">
            </div></div>
      </div>
    </div>
  
         <div class="row">
         <h3 class="service-heading">SMM</h3>

      <div class="digi">     
        <div class="col-md-6">
          <img class="service-image" src="assets/images/service-2.png">
        </div>
        <div class="col-md-6">
          <div class="digi-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              It has survived not only five centuries.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              It has survived not only five centuries.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <h3 class="service-heading">SEM</h3>
      
      <div class="digi ">
        <div class="reverse"> <div class="col-md-6">
            <div class="digi-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries.
            </div>
          </div>
          <div class="col-md-6">
              <img class="service-image" src="assets/images/service-3.png">
            </div></div>
       
      </div>
    </div>
  
    <div class="row"> 
        <h3 class="service-heading">Content Marketing</h3>

      <div class="digi">
        <div class="col-md-6">
          <img class="service-image" src="assets/images/service-4.png">
        </div>
        <div class="col-md-6">
          <div class="digi-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              It has survived not only five centuries.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              It has survived not only five centuries.
          </div>
        </div>
      </div>
    </div>
  
    <div class="row"> 
        <h3 class="service-heading">Online Branding</h3>
      
      <div class="digi ">
        <div class="reverse"> <div class="col-md-6">
            <div class="digi-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries.
            </div>
          </div>
          <div class="col-md-6">
              <img class="service-image" src="assets/images/service-5.png">
            </div></div>
      </div>
    </div>
  
  </section>